<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipe Book</title>
</head>
<body> 
    <header> 
        <h1>Recipe Book</h1>
        {% if request.user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
                <a href = "{% url 'login' %}"> Login </a>
        {% endif %}
    </header>
    <div id = "content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>