{% extends 'base.html' %}

{% block content %}
    <h2 style = "font-family:verdana; color: purple"> Recipe Details: </h2>
    <h2 style = "font-family:verdana; color: lightcoral">{{ recipe.name }}</h2>
    <h3 style = "font-family:verdana; color: lightslategray">{{ recipe.author }}</h3>
    <h4 style = "font-family:verdana; color: lightsalmon">
        <ul>
            {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.ingredient.name }}:{{ ingredient.quantity }} </li>
            {% endfor %}
        </ul>
    </h4>
{% endblock %}